* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #901C1C;
  --secondary: #DB8876;
  --dark: #000000;
  --light: #FAFAFA;
  --gray: #312E2E;
  --text:#D3573C;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--light);
  color: var(--dark);
}

a {
  text-decoration: none;
  color: inherit;
}
.header {
  background-color: var(--light);
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-subtitle {
  font-size: 1.1rem;
}

.photographer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 40px;
  background-color: #f5f5f5;
  position: relative;
  max-width: 1070px;
  margin: 0 auto;
  margin-top: 100px;
}
.photographer-info-text {
  flex: 1;
  
}

.photographer-info-text h2 {
  color: var(--text);
  font-size: 54px;
  font-weight: 400;
  margin-bottom: 10px;
}

.photographer-info-text p {
  color: var(--gray);
  font-size: 1.1rem;
  margin-bottom: 8px;
 
  
}
p.city{
  color: var(--primary);
  font-weight: 400;
  font-size: 24px;
}

.photographer-info-portrait {
  border-radius: 50%;
  object-fit: cover;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding: 40px 100px;
  max-width: 1300px;
  margin: 0 auto;
}


.media-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}


.photographers-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 50px 0px;
  max-width: 1400px;
  margin: 0 auto;
}